.weekendtextwrapper {
  padding-top: 25px;
  width: 100%;
  margin: auto;
  text-align: center;
  text-align: center;
  font-family: Oswalo;
  font-size: 4.5rem;
  color: white;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 550px) and (min-width: 403px) {
  .weekendtextwrapper {
    font-size: 3rem;
  }
}
@media screen and (max-width: 402px) and (min-width: 0px) {
  .weekendtextwrapper {
    font-size: 2.6rem;
  }
}
