.sidetextwrapper{
    position: absolute;
    background-color:black;
    width: 169px;
    padding: 2em 1em;
    left: -51px;
    top: 41px;
    transform: rotate(-90deg);
    text-align: center;
    height: -moz-fit-content;
    height: fit-content;
}